@use "../../../theme/theme-dark.scss" as theme;

.import-pane {
  padding-left: 6px;
  padding-top: 4px;
  font-size: 12px;

  ul {
    margin: 0;
    padding-left: 0px;
    list-style-type: none;
  }
}

.import-component-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1px 2px;

  .import-component-item-text {
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
    flex-shrink: 1;

    .import-component-title {
      cursor: pointer;
    }

    .import-component-subtitle {
      user-select: none;
      overflow-x: hidden;
      text-overflow: ellipsis;
      margin-left: 4px;
      color: darken(theme.$primary-text-secondary, 10%);
    }
  }

  .import-component-item-action {
    display: flex;
    flex-direction: row;
  }

  .import-component-btn {
    padding-left: 6px;
  }

  &:hover {
    background-color: lighten(theme.$primary, 5%);
  }
  p {
    margin: 0;
    padding-bottom: 3px;
  }
}
