@use './TitleMenuBar/TitleMenuBar.scss' as titlebar;

.editor-container {
  height: calc(100% - #{titlebar.$height});
  width: 100%;
}

.reflex-element {
  overflow: hidden !important;
}

.pane-middle-header {
  height: 35px;
  min-height: 30px;
  max-height: 30px;
}

.splitter {
  border: 0px !important;
  transition: all 1s ease-out;

  &:hover {
    border: 0px !important;
    background-color: #009165 !important;
    transition: all 1s ease-in;
  }
}
