@use './TitleMenuBar/TitleMenuBar.scss' as titlebar;

.editor-container {
  height: calc(100% - #{titlebar.$height});
  width: 100%;
}

.reflex-element {
  overflow: hidden !important;
}

.pane-middle-header {
  height: 30px;
  min-height: 30px;
  max-height: 30px;
}

.splitter {
  border: 0px !important;
  transition: all 1s ease-out;

  &:hover {
    border: 0px !important;
    background-color: #009165 !important;
    transition: all 1s ease-in;
  }
}

#create_new_model_img {
  width: 150px;
  position: absolute;
  right: 10px;
  top: 5px;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

.pane-middle-bottom {
  height: 100px;
}
#user_model_creator {
  display: none;
}