@use '../../theme/theme-dark.scss' as theme;

.pane-header {
  height: 20px;
  min-width: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;

  .pane-header-title {
    margin: 0;
    margin-bottom: 1px;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    text-overflow: ellipsis;
  }

  .pane-header-expand-btn {
    margin-right: 2px;
  }
}

.pane-content-left,
.pane-content-right {
  display: flex;
  align-items: center;

  &.no-icon {
    margin-left: 4px;
  }
}

.pane {
  height: 100%;
  padding: 2px;
  display: flex;
  flex-direction: column;
}

.pane-content {
  overflow-x: hidden;
  overflow-y: scroll;

  .scrollbar-fade {
    position: absolute;
    background: theme.$primary;
    pointer-events: none;
    height: 100%;
    top: 0;
    right: 0;
    width: 14px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    opacity: 1;
  }

  &:hover {
    .scrollbar-fade {
      opacity: 0;
    }
  }
}
