@use '../../theme/theme-dark.scss' as theme;

.problem-container {
  padding: 6px 18px;
}

.problem-item {
  margin-bottom: 4px;
  padding: 3px 8px;
  font-size: 12px;
  color: theme.$primary-text-secondary;
  background-color: darken(theme.$primary, 1%);

  .problem-item-title {
    text-transform: capitalize;
  }
}

.error-item {
  border-left: 2px solid rgba(theme.$error, 0.6);
}

.warning-item {
  border-left: 2px solid rgba(theme.$warning, 0.6);
}
