@use '../../../theme/theme-dark.scss' as theme;

.pane {
  height: 100%;
  padding: 2px;
  display: flex;
  flex-direction: column;
}

.pane-content {
  overflow-x: hidden;
  overflow-y: scroll;

  .scrollbar-fade {
    position: absolute;
    background: theme.$primary;
    pointer-events: none;
    height: 100%;
    top: 0;
    right: 0;
    width: 14px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    opacity: 1;
  }

  &:hover {
    .scrollbar-fade {
      opacity: 0;
    }
  }
}
