@use '../../../theme/theme-dark.scss' as theme;

.attribute-container {
  width: 100%;
  font-size: 11px;
  box-sizing: border-box;

  .attribute-table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;

    th,
    td {
      padding: 4px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    th {
      background-color: lighten(theme.$primary, 3%);
      font-weight: bold;
      text-align: left;
      user-select: none;
    }

    .attribute-table-key {
      background-color: lighten(theme.$primary, 3%);
    }

    tr {
      background-color: darken(theme.$primary, 1%);

      &:hover {
        background-color: lighten(theme.$primary, 1%);
      }

      &:focus-within {
        background-color: lighten(theme.$primary, 3%);
      }
    }

    input {
      width: 100%;
      padding: 0;
      margin: 0;
      font-family: "Segoe UI";
      font-size: 11px;
      color: theme.$primary-text;
      border: 0;
      outline: none;
      background-color: transparent;
    }
  }
}
