.pdf-viewer {
  height: 100%;
  width: 100%;
}

.react-pdf__Document {
  height: 100%;
  overflow-y: scroll;
}

.react-pdf__Page__canvas {
  margin: 0 auto;
}

.react-pdf__Page {
  margin-bottom: 8px;
}

.react-pdf__Page__textContent span {
  opacity: 0.1;
}

.react-pdf__Page__textContent span::selection {
  background-color: blue;
}

.react-pdf__Document {
  line-height: initial;
}
