@use '../../theme/theme-dark.scss' as theme;

$height: 30px;

.title-menu-bar {
  height: $height;
  width: 100%;
  background-color: lighten(theme.$primary, 8%);
  font-size: 12px;
  user-select: none;
  -webkit-app-region: drag;

  .section {
    float: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: calc(100% / 3);
    white-space: nowrap;
  }
}

#title-section {
  justify-content: center;
}

#window-btn-section {
  justify-content: flex-end;

  .window-btn {
    width: 36px;
    height: 100%;
    padding: 0 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
    -webkit-app-region: no-drag;

    &:hover {
      background-color: lighten(theme.$primary, 15%);
    }
  }

  #close-btn:hover {
    background-color: rgb(216, 56, 56);
  }
}

/* react-electron-window-menu */
.rewm-contextmenu {
  position: absolute;
  box-sizing: border-box;
  background-color: lighten(theme.$primary, 5%);
  user-select: none;
  cursor: default;
  min-width: 130px;
  font-size: 12px;
  z-index: 100;
}
.rewm-contextmenu [data-ctx-item] {
  color: theme.$primary-text;
  position: relative;
  padding: 8px 16px;
  line-height: 14px;
  white-space: nowrap;
  font-size: inherit;
  font-weight: inherit;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
}
.rewm-contextmenu [data-ctx-item] [data-label] {
  flex: 1;
  margin-right: 4px;
}
.rewm-contextmenu [data-ctx-item] [data-label-icon] {
  margin-right: 4px;
}
.rewm-contextmenu [data-ctx-item] [data-checkbox] {
  width: 0;
}
.rewm-contextmenu [data-ctx-item] [data-accelerator] {
  color: theme.$primary-text-secondary;
  font-size: 12px;
  margin-left: 20px;
  margin-right: 0px;
}
.rewm-contextmenu [data-ctx-item]:hover,
.rewm-contextmenu [data-ctx-item][data-opened] {
  background-color: lighten(theme.$primary, 15%);
}

.rewm-contextmenu [data-ctx-item][data-enabled="false"] {
  opacity: 0.4;
}
.rewm-contextmenu [data-ctx-item][data-enabled="false"]:hover {
  background-color: lighten(theme.$primary, 5%);
}
.rewm-contextmenu [data-ctx-separator] {
  height: 1px;
  background-color: lighten(theme.$primary, 15%);
  padding: 0;
  margin: 5px 0;
}
.rewm-menubar {
  height: 100%;
  cursor: default;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  user-select: none;
  -webkit-app-region: no-drag;
}
.rewm-menubar [data-menubar-item] {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  font-weight: 400;
}

.rewm-menubar [data-menubar-item]:hover,
.rewm-menubar-active [data-menubar-item]:hover,
.rewm-menubar-active [data-menubar-item].active {
  background-color: lighten(theme.$primary, 15%);
}
