@use '../../theme/theme-dark.scss' as theme;

.header-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-tab-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: hidden;

  &:empty {
    background-color: darken(theme.$primary, 2%);
  }

  &::-webkit-scrollbar {
    height: 2px;
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: lighten(theme.$primary, 20%);
  }
}

.header-tab {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 8px;
  min-width: 90px;
  max-width: 180px;
  cursor: pointer;
  color: theme.$primary-text-secondary;
  background-color: lighten(theme.$primary, 2%);
  user-select: none;

  &.active {
    background-color: darken(theme.$primary, 2%);
    .header-tab-title {
      color: theme.$primary-text;
    }
  }

  .tab-close-btn {
    margin-left: 3px;
    &:hover {
      background-color: lighten(theme.$primary, 15%);
    }
  }
}

.header-tab-title {
  flex: 1 1;
  text-align: center;
  font-size: 12px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
